@model IEnumerable<Presentation.Models.OrderList>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                id
            </th>
            <th scope="col">
                Имя
            </th>
            <th scope="col">
                Email
            </th>
            <th scope="col">
                Телефон
            </th>
            <th scope="col">
                Комментарий
            </th>
            <th scope="col">
                Цена
            </th>
            <th>
                Дата посещения
            </th>
            <th>
                Времени затрачено(минут)
            </th>
            <th>
                Статус заказа
            </th>
            <th>
                Время регистрации заказа
            </th>
            <th >
                Заказанные усулуги
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Order.OrderId
                </td>
                <td>
                    @item.Order.CustomerName
                </td>

                <td>
                    @item.Order.CustomerEmail
                </td>
                <td>
                    @item.Order.CustomerPhone
                </td>
                <td>
                    @item.Order.CustomerComment
                </td>
                <td>
                    @item.Order.Price
                </td>
                <td>
                    @item.Order.Date
                </td>
                <td>
                    @item.Order.TimeWasted
                </td>
                <td>
                    @item.Order.Status
                </td>
                <td>
                    @item.Order.RegistrationTime
                </td>
                <td>
                    <table class="table-active">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var products in item.Products)
                            {
                                <tr>
                                    <td>@products.ProductName</td>
                                    <td>@products.Price</td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

