@model IEnumerable<WebCore.Areas.Identity.Models.ManagerUserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
               <div>Имя пользователя</div>
            </th>
            <th>
                <div>Email пользователя</div>
            </th>
            <th>
                <div>Номер телефона пользователя</div>
            </th>
            <th>
                <div>Двухфакторная авторизация пользователя</div>
            </th>
            <th>
                <div>подтверждение номера телефонна пользователя</div>
            </th>
            <th>
                <div>подтверждение электронной почты пользователя</div>
            </th>
         
            <th>
                <div>Блокировка пользователя</div>
            </th>
            <th>
                <div> Права доступа</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                <div class="uk-margin-bottom">
                    <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-userid="@item.UserId">Права доступа</a>
                </div>
                <div>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-userid="@item.UserId">Удалить</a>
                </div>
               
            </td>
        </tr>
}
    </tbody>
</table>
