@model WebCore.Areas.Identity.Models.PersonalViewModel
@using WebCore.Areas.Identity.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text--center">Главное меню</h2>

<div>
    <h4>Личный кабинет</h4>
    <hr />
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <dl class="dl-horizontal">
            <dd>Пользователь: @Model.User.CustomerName</dd>
            <dd>Электронная почта: @Model.User.Email</dd>
            <dd>Номер телефона: @Model.User.PhoneNumber</dd>
            <dd>
                @if (!@Model.User.EmailConfirmed)
                {
                    <div>Ваш email не подтвержден</div> <a href="#">Подтвердить</a>
                }
            </dd>
            <dd>
                @if (!@Model.User.PhoneNumberConfirmed)
                {
                <div>Ваш телефон не подтвержден</div><a href="#">Подтвердить</a>
                }
            </dd>
        </dl>

        <ul uk-accordion="multiple: true">

            @foreach (var main in Model.OrderUserViewModel)
            {
                @if (main != null)
                {
                    @foreach (var item in main.Orders)
                    {
                        <li>
                            <a class="uk-accordion-title" href="#">
                                Заказ №@item.OrderId
                                на  @item.Date
                            </a>
                            <div class="uk-accordion-content">
                                <form asp-action="CancelTheOrder" method="post">
                                    <input type="hidden" name="orderId" asp-for="@item.OrderId" />
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">№</th>
                                                <th scope="col">Наименование</th>
                                                <th scope="col">Цена</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var products in main.Products)
                                            {
                                                <tr>
                                                    <th scope="row">@products.Id</th>
                                                    <td>@products.ProductName</td>
                                                    <td>@products.Price</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="text-info">Сумма заказа: @item.Price</div>
                                    <input type="submit" value="Отменить запись" class="btn-danger" />
                                </form>
                            </div>
                        </li>
                    }

                }
            }
        </ul>
    </div>
    </div>

